*{
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

.header{
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70px;
  width: 1000px;
}
.htext{
  align-content: center;
  margin-left: 30px;
}
.htext h1{
  background-image: linear-gradient(10deg, green, black);
}
.hmenu img{
  position: absolute;
  width: 60px;
  position: relative;
  right: -400px;
}

.hero-img img{
  width: 1000px;
  height: 500px;
}

/* css for work start */

.work{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  row-gap: 30px;
  align-items: center;
  text-align: center;
  position: relative;
  top: 200px;
  left: 10%;
  align-content: center;
  width: 360px;
}
.work img{
  width: 350px;
  height: 250px;
}
.work div{
  width: 400px;
  
}
.textc{
  position: relative;
  text-align: center;
  top: 100px;
  font-size: 12px;
}
.wbtn{
  background-color: black;
  color: white;
  font-size: 18px;
  text-decoration: none;
  position: absolute;
  padding: 15px 30px 15px;
  border-radius: 10px;
  top: 800px;
  left: 300px;
  width: 150px;
}
.wbtn:hover{
  background: blue;
  transform: translate(0px 10px);
  transition: .8s;
}
.work h3{
  
}
.work p{
  
}
/* css for work end */




























